.npqp-qr-form-wrapper {
    margin: 10px 0 0 0;
    text-align: center;
    display: inline-block;
}

.npqp-paynow-btn {
    display: none;
    min-width: 300px;
    background: #149bf5;
    color: #fff;
    width: 100%;
    font-size: 17px;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(20, 155, 245, 0.23);
    padding: 8px;
    text-decoration: none;
    outline: none;
}

.npqp-paynow-btn:hover {
    text-decoration: none;
    outline: none;
    color: #fff;
    opacity: .9;
}

@media(max-width: 500px) {
    .npqp-paynow-btn {
        display: inline-block;
    }
}

.wc-npqp-qr-form {
    text-align: center;
}

#npqp-qrcode {
    width: auto;
    display: none;
    background: white;
}

#npqp-qrcode img {
    display: inline-block;
    max-width: 100%;
}

.npqp-checkout-img-block {
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 10px 0 0 0;
}

.npqp-checkout-img {
    display: inline-block;
}

.npqp-checkout-title {
    text-align: center;
    display: inline-block;
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #565656;
    font-weight: 500;
}

.npqp-checkout-description {
    color: #565656;
    font-size: 11px;
}

.npqp-checkout-link-checkout {
    background: rgb(0 0 0 / 3%);
    padding: 15px 15px;
    display: inline-block;
    border-radius: 3px;
    color: #a4a4a4;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 3px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 300px;
}

.npqp-checkout-link-invoice {
    background: rgb(8 176 255 / 15%);
    padding: 15px 15px;
    display: inline-block;
    border-radius: 3px;
    color: #42a6ee;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 3px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.npqp-checkout-link-invoice:hover{
    background: rgb(8 176 255 / 20%);
}
.npqp-checkout-link-checkout:hover {
    background: rgb(0 0 0 / 7%);
}

.npqp-checkout-body {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.npqp-checkout-block {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.npqp-checkout-qr-block {
    text-align: center;
    background: white;
    margin: 0 auto;
    display: inline-table;
    padding: 40px 50px 50px 50px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 8%);
}

.npqp-checkout-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 300px;
}
